modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34635
externalPort = 4200

[[ports]]
localPort = 35915
externalPort = 3001

[[ports]]
localPort = 37209
externalPort = 3003

[[ports]]
localPort = 38141
externalPort = 3002

[[ports]]
localPort = 42499
externalPort = 3000

[[ports]]
localPort = 44271
externalPort = 5173

[[ports]]
localPort = 45669
externalPort = 5000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
TME_TOKEN = "d7afea65884e5febfc8bd419c6d8a2ff24c5142a28156f36b8"
TME_CUSTOMER_NUMBER = "40071812"
TME_CONTACT_NUMBER = "676772"
TME_APPLICATION_SECRET = "267d30e978ba3ceea916"

[userenv.development]
BYPASS_AUTH = "true"
